STAGING_IMAGE=ghcr.io/corthiago/picpay-desafio-backend:staging-latest
PRODUCTION_IMAGE=ghcr.io/corthiago/picpay-desafio-backend:production-latest
STAGING_DOMAIN=staging.example.com
PRODUCTION_DOMAIN=api.example.com
